* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@mixin mobile {
  @media all and (max-width:800px) {
    @content;
  }
}

@mixin pc {

  /* PC (해상도 1024px)*/
  @media all and (min-width:1024px) {
    @content;
  }
}

@include pc {
  #root {

    width: 100vw;
    height: 100vh;
    transition: 1s;
    background-color: #ECE93B;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    @include flex(flex, center, center);


    .cir {

      width: 51vw;
      height: 100vh;
      flex-direction: column;
      border-radius: 50%;
      border: 5px solid white;
      @include flex(flex, center, center);
    }

    .main {

      width: 25vw;
      height: 10vh;
      font-size: 3vw;
      margin-top: -3vh;
      @include flex(flex, center, center);

    }

    .chad {

      width: 30vw;
      height: 10vh;
      font-size: 4vw;
      margin: 50px;
      @include flex(flex, center, center);

    }

    .icon {

      width: 10vw;
      height: 10vh;
      margin-right: -3vw;
      background: url(../pic/light-1.jpg);
      background-size: contain;
      @include flex(flex, center, center);
    }

    .asking {

      width: 50vw;
      height: 10vh;
      font-size: 4vw;
      margin: 20px;

      @include flex(flex, center, center);

    }

    .icon-1 {

      width: 10vw;
      height: 10vh;
      margin-right: -3vw;
      background: url(../pic/light-1.jpg);
      background-size: contain;
      @include flex(flex, center, center);
    }

    .ringo {

      width: 50vw;
      height: 10vh;
      font-size: 4vw;

      @include flex(flex, center, center);
    }
  }
}

@include mobile {

  #root {

    width: 100vw;
    height: 100vh;
    transition: 1s;
    background-color: #ECE93B;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    @include flex(flex, center, center);


    .cir {

      width: 95vw;
      height: 49vh;
      flex-direction: column;
      border-radius: 50%;
      border: 5px solid white;
      @include flex(flex, center, center);
    }

    .main {

      width: 30vw;
      height: 10vh;
      font-size: 4vw;
      margin: 1vh;
      @include flex(flex, center, center);

    }

    .chad {

      width: 35vw;
      height: 10vh;
      font-size: 5vw;
      margin: 1vh;

      @include flex(flex, center, center);

    }

    .icon {

      width: 10vw;
      height: 10vh;
      background: url(../pic/light-1.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat; 
      @include flex(flex, center, center);
    }

    .asking {

      width: 60vw;
      height: 10vh;
      font-size: 5vw;
      margin: 1vh;
      @include flex(flex, center, center);

    }

    .icon-1 {

      width: 10vw;
      height: 10vh;
      background: url(../pic/light-1.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat; 
      @include flex(flex, center, center);
    }

    .ringo {

      width: 50vw;
      height: 10vh;
      font-size: 5vw;
      margin: 1vh;
      @include flex(flex, center, center);
    }
  }
}