* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  background-color: #ECE93B;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  @include flex(flex,center,center);

.box {
  width: 55vw;
  height: 95vh;
  border: 5px solid white;
  flex-direction: column;
  @include flex(flex,center,center);

}

.second {

  width: 30vw;
  height: 10vh;
  font-size: 3vw;
  @include flex(flex,center,center);

}

.cross {

  width: 30vw;
  height: 10vh;
  font-size: 4vw;
  margin: 50px;

  @include flex(flex,center,center);

}

.icon {

  width: 10vw;
  height: 10vh;
  margin-right: -40px;
  background: url(../pic/light-1.jpg);
  background-size: contain;
  @include flex(flex, center, center);
}

.crys {

  width: 30vw;
  height: 10vh;
  font-size: 4vw;
  margin: 50px;
  @include flex(flex, center, center);

}

.icon-1 {

  width: 10vw;
  height: 10vh;
  margin-right: -40px;
  background: url(../pic/light-1.jpg);
  background-size: contain;
  @include flex(flex, center, center);
}

.fear {

  width: 60vw;
  height: 10vh;
  font-size: 2.9vw;
  margin: 50px;
  @include flex(flex, center, center);

}

}
