* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  background: url(../pic/soil-2.jpg);
  background-size: cover;
  @include flex(flex,center,center);

  .movie {
    width: 47.8vw;
    height: 54vh;
    margin-left: -40vw;

  }
  .close {

    width: 25vw;
    height: 65vh;
    margin-right: -40vw;
    position: absolute;
    cursor: pointer;
  }
}