* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Permanent Marker", cursive;
  flex-direction: column;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .fire {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .prev {
  width: 100vw;
  height: 70vh;
  margin: 50px;
  font-size: 10vw;
  position: absolute;
  margin-top: -30vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .next {
  width: 30vw;
  height: 50vh;
  font-size: 2vw;
  margin-bottom: -45vh;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}