* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #ECE93B;
  font-family: "Permanent Marker", cursive;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .prev {
  width: 59vw;
  height: 70vh;
  margin: 50px;
  font-size: 12vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .next {
  width: 30vw;
  height: 50vh;
  font-size: 2vw;
  margin: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}