* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  // background-color: #ECE93B;
  font-family: 'Permanent Marker', cursive;
  flex-direction: column;
  background-size: cover;
  color: #fff;
  @include flex(flex,center,center);

.fire {

  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  @include flex(flex,center,center);
}
  .prev {

    width: 59vw;
    height: 70vh;
    margin: 50px;
    font-size: 12vw;
    position: absolute;
    margin-top: -30vh;
    cursor: pointer;
  @include flex(flex,center,center);

  }

  .next {
    width: 30vw;
    height: 50vh;
    font-size: 2vw;
    margin-bottom: -45vh;
    position: absolute;
    cursor: pointer;
    @include flex(flex,center,center);

  }
}