* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background: url(../pic/sheena-1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .movie {
  width: 47.3vw;
  height: 53.5vh;
  margin-left: -40vw;
}
#root .close {
  width: 20vw;
  height: 30vh;
  margin-top: -8vh;
  margin-right: -38vw;
  position: absolute;
  cursor: pointer;
}