* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .logo {
  width: 40vw;
  height: 35vh;
  background: url(../pic/Askinglogo.jpg);
  background-size: cover;
  margin-top: -100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .movie {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}